* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2 {
    font-size: 48px;
    color: #F9FAF8;
}

h2 {
    text-align: center;
    color: #1F2937;
    margin-top: 50px;
}

.section-1 {
    width: 1330px;
    height: 680px;
    background-color: #1F2937;
    color: whitesmoke;
}

.section-2 {
    width: 1330px;
    height: 480px;
    
    color: whitesmoke;
}

.images {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top:100px;
}

.imgcont {
    display: flex;
    flex-direction: column;
    color: #1F2937;
    width: 200px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 250px;
    gap: 100px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 15px;
}

.content {
    display: flex;
    margin: 150px   250px;
    gap: 100px;
}

ul {
    list-style-type: none;
    display: flex;  
    gap: 20px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    padding: 10px 30px;
    margin-top: 15px;
    border-radius: 10px;
    border-style: none;
    font-weight: 900;
}



